.link {
  @include text-styles(Mavenproregular, normal, normal, 16px, 2.2, #ffffff);
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  &_burger:before {
    content: "";
    background-image: url("../img/burger-white.svg");
    display: inline-block;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    transform: translateY(30%);
  }
}
