.social {
  display: flex;
  align-items: center;

  margin: 0 0 15px 5px;

  @include md {
    margin: 2rem 0 0 0;
  }

  &__text {
    @include text-styles(Mavenprobold, bold, normal, 1.375rem, 1.1, white);
    margin-right: 10px;

    @include sm {
      font-size: 28px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 30px;
    height: 30px;

    margin-right: 10px;

    background-size: contain;
    background-repeat: no-repeat;

    &:last-child {
      margin-right: 0;
    }
  }
}
