.specialists {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1440px;

  margin: 150px 0;

  @include md {
    height: initial;
    margin: 5rem 0;
  }

  &__title {
    @include text-styles(Mavenproblack, 900, normal, 2.375rem, 6.25, #0b2a37);

    margin-bottom: 70px;

    @include sm {
      font-size: 3rem;
      text-align: center;
      line-height: 2;

      margin-top: 30px;
    }

    &_small {
      @include text-styles(Mavenprobold, bold, 700, 1.375rem, 1.6, #0b2a37);

      margin-bottom: 0px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

    font-size: 1rem;

    margin: 0 20px;
  }

  &__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    max-width: 20%;

    &:last-child {
      margin-right: 0;
    }

    @include lg {
      min-width: 50%;

      margin-bottom: 15%;
      padding: 0 15%;
    }

    @include md {
      min-width: 100%;

      margin-bottom: 15%;
      padding: 0 15%;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    width: 150px;
    height: 130px;

    margin-bottom: 30px;

    background-position: center center;
    background-repeat: no-repeat;

    @include md {
      background-size: contain;
    }
  }

  &__text {
    @include text-styles(Mavenproregular, normal, 400, 1rem, 1.4, #0b2a37);
  }
}
