.why-best {
  display: flex;
  width: 100%;
  max-width: 1440px;
  background-color: #005173;
  height: 870px;

  @include md {
    height: 100%;
  }

  @include sm {
    flex-direction: column;
    text-align: center;
    height: 100%;
  }

  &__button {
    @include text-styles(Mavenprobold, bold, normal, 1.125rem, 1.4, #ffffff);
    background: transparent;
    padding: 1.25rem 2.8125rem;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 0.35rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    @include sm {
      order: 2;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background: #005173 url("../img/logo-background.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right 120%;
    margin-left: 57px;

    @include md {
      margin-right: 25px;
    }

    @include sm {
      order: 1;
      background-size: contain;
      margin: auto;
      align-items: center;
    }
  }

  &__list {
    max-width: 75%;

    @include sm {
      text-align: left;
      padding: 0 10px;
    }
  }

  &__item {
    position: relative;
    margin: 35px 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      width: 50px;
      height: 1px;
      background: #8ae2e2;
    }
  }

  &__title {
    @include text-styles(Mavenproblack, 900, normal, 5rem, 1.2, #ffffff);

    @include sm {
      font-size: 4rem;
      padding-top: 1rem;
    }
  }

  &__text {
    @include text-styles(Mavenproregular, normal, normal, 1rem, 1.4, white);

    @include sm {
      font-size: 1.125rem;
    }
  }
}
