@mixin text-styles(
  $font,
  $font-weight,
  $font-style,
  $font-size,
  $line-height,
  $color
) {
  font-family: $font;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin over-size {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 980px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 480px) {
    @content;
  }
}

